body {
  background: #F9F9F9;
  font-family: 'DM Serif Text', serif;
}

h1 {
  text-align: left;

}

.exclamation {
  font-size: 1.25em;
  color:#FF1231;
  display:inline;
}

input {
  border:none;
}

.container {
  background-color: #FCFCFC;
  box-shadow:0px 10px 24px 5px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  display:grid;
  justify-content: center;
  margin: auto;
  width: 400px;
}

p {
  display:table-row;
}

label {
  font-family: Montserrat;
  line-height: 2;
  display: table-cell;
  color: black;
  text-align: left;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
}

input {
  display: table-cell;
  font-family: Montserrat;
  border-radius: 8px;
  background-color: #EEEEEE;
  padding: 0px 10px;
  margin-left: 5px;
  margin-top: 5px;
  height:29px;
}

button {
  width: 100%;
  padding: 8px 28px;
  height:32px;
  color:white;
  background-color: #000000;
  border:none;
  font-family: DM Serif Text;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  border-radius: 10px;
  margin-bottom: 37px;
}

button:disabled {
  background-color: #0000007a;
}
